*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.tape{
    margin: 0 auto;
    color: #ff4a33;
    font: 40px Arial;
    text-align: center;
    position: relative;
}
.inner{
    width: 100%;
    height: 500px;
}
.flasks{
    width: 358px;
    height: 202px;
    margin: 100px auto;
    background-image: url(../img/site/flasks.png);
}
.form-add{
    color: #1d1d24;
    width: 50%;
    margin: 0 auto;
}
.buttons{
    float: right;
    position: relative;
    margin-top: -38px;
    cursor: pointer;
}
.camera{
    width: 55px;
    height: 33px;
    background-image: url(../img/site/camera.png);
    cursor: pointer;
}
.abort{
    width: 100px;
    height: 33px;
    background-image: url(../img/site/abort.png);
    float: left;
    margin-right: 10px;
}
.add{
    width: 100px;
    height: 33px;
    background-image: url(../img/site/add.png);
    float: left;
    cursor: pointer;
}
.hidden {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.wrap{

}
.header{
    width: 600px;
    margin: 55px auto;
    overflow: hidden;
    padding-left: 15px;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}
.add_article{
    width: 59px;
    height: 59px;
    background-image: url(../img/site/add-articles.png);
}
.logo{
    width: 169px;
    height: 23px;
    background-image: url(../img/site/logo.png);
}
.article_text{
    font: 24px Tahoma;
}
.tape{
    width: 600px;
    height: 1000px;
}
.tape-inner{
    float: left;
    width: 300px;
    height: 280px;
}
.tape-inner-content{
    width: 270px;
    height: 252px;
    margin: 14px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    z-index: 100;
}
.tape-inner-content-top{
    height: 108px;
    z-index: 2;
}
.tape-inner-content-middle{
    width: 100%;
    height: 69px;
}
.tape-inner-content-bottom{
    width: 100%;
    height: 73px;
}
.tape-inner-content-middle-title{
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
    color: #000;
    text-align: left;
    padding-left: 10px;
}
.tape-inner-content-middle-date{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    color: #000;
    text-align: left;
    padding: 10px;
}
.tape-inner-content-bottom-description{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10px;
    color: #000;
    text-align: left;
    padding: 0 10px 10px 10px;
}